@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Merriweather:wght@300&family=Raleway:wght@100&display=swap');
*{
    margin:0;
    top:0;
    left:0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #373e98;
  }
  
header {
    display: flex;
    margin-top:2%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 3%;
    padding: 2%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(55deg, #ffbe5a, #3C1874, #963c96 );

}

nav,li,a {
    display: inline-block;
    margin-top: 2%;
    list-style: none;    
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
    padding-left:0.5rem;
    color: #F1B24A;
}

a:hover {
    color:#F92C85;
    transform: scale(1.5)skewY(5deg);
}
.skull {
    cursor: pointer;
    color:#F92C85;
    font-size:4.5rem;
    transition: transform 1.5s;
}

.skull:hover {
    transform: skewY(-0deg)scale(1.5);
    transform: skewY(-5deg)scale(1.5);
    transform: skewY(-10deg)scale(1.5);
    transform: skewY(-15deg);
    transform: skewY(-20deg);
    transform: skewY(-25deg);
    transform: skewY(-30deg);
}
main {
    background-color: #373e98;
    margin: 2% 5% 5% 5%;  
    font-family: 'Raleway', sans-serif;

}
section {
    box-sizing: border-box;
    background-image: linear-gradient(55deg, #FFD23C, #FFDCAA, #E6E6E8);
    border:3px solid whitesmoke;
    margin-top: 3%;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 2%;  
}

#bottomthree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}
@media screen and (max-width:381px) and (max-width:600px) and (max-width:768px){
     section #bottomthree {
        grid-template-columns: 1fr;        
    }
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    color:#3C1874;
    text-align: center;
}

p {
    text-align: justify;
    font-size:1.1em;
    line-height: 1.9;
    color:black;
    word-break: normal;
    margin:0 auto;
    padding:0.3rem;
    //font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    
    text-overflow: ellipsis;
}

.iframe-con {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
    width: 100%;
}
iframe {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 40vh;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#packing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#submit {
   display: flex;
   border:none;
   background-color: #3C1874;
   color: #F1B24A;
   cursor: pointer;
}

input {
    margin-top: 1%;
    background-color: #3C1874;
    color: white;
    text-align: center;
}

::placeholder {
    background-color: #3C1874;
    color: white;
    text-align: center;
}
textarea {
    margin-top: 1%;
    background-color: #3C1874;
    color: white;
}

fieldset {
    text-align: center;
    font-size: 1.2rem;
    color: #3C1874;
    font-family: 'Merriweather', serif;
}
.packing-field {
    margin-top: 1%;
    text-align: center;
    font-size: 0.9rem;
    color: #3C1874;
    font-family: 'Merriweather', serif;
}

.input-news .bcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bag {
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #963c96;
  }
  
.bag ion-icon {
    font-size: inherit;
    line-height: 1;
}
.packing-areatop .checkbox-area .packing-area-bottom {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;    
}

footer {
    display: flex;
    margin-top:2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    padding: 2%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(55deg, #ffbe5a, #3C1874, #963c96 );
}

.bottomtext {
    display: inline-block;
    color: #E6E6E8;
    text-align: center;
    font-size:15px;
    justify-content: center;
    align-items: center;
}

.bottom-link {
    text-decoration: none;
    cursor: pointer;
    color: #ffbe5a;
    border: none;
    background-color: transparent;
}

.bottom-link:hover {
    color: #F92C85;    
}